/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

h1, h2, p, strong {
	font-family: verdana, arial, helvetica, sans-serif;
	color: #333;
}

body {
	margin: 33px;
}

h1 {
	font-size: 2em;
	-webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

strong {
	font-weight: bold;
}

p {
	font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

#notice {

}

table {
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

thead {
	display: table-sheader-group;
    vertical-align: middle;
    border-color: inherit;
}


th {
	padding-bottom: 5px
}




